:root {
  --spacing: 20px; /* everything based pn this */
  --background:hsl(0, 0%, 5%);
  --foreground:hsl(0, 0%, 96%);
  --primary:#ff6f61;

  --ff: "Inter", sans-serif;
  --h1: bold 1.125rem/1.4em var(--ff);
  --h2: bold 1rem/1.4em var(--ff);
  --p: 1rem/1.4em var(--ff);
  --p2: 0.875rem/1.4em var(--ff);

  --gray100: hsl(0, 0%, 100%);
  --gray70: hsl(0, 0%, 70%);
  --gray50: hsl(0, 0%, 50%);
  --gray30: hsl(0, 0%, 30%);
  --gray0: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font: var(--p);
  padding: calc(var(--spacing) *4);
}

/* videos */

.videos {
  display:flex;
}

.video {
  padding:20px;
  height:fit-content;
}

.img {
  width:400px;
  height: 200px;
  background:gray;
  border-radius:10px;
  margin-bottom:10px;
}

.text {
  display:flex;
  align-items: center;
  gap:10px;
}

.text-img .circle{
  display:block;
  background-color:gray;
  width:45px;
  height:45px;
  border-radius:50%;
}

h3 {
  line-height: 30px;
  font-size:16px;
}

p{
  color: hsl(0, 0%, 60%);
}

.video2 {
  border-left: 3px hsl(0, 0%, 20%) solid;
}

.video2 h3 {
  line-height:15px;
  font-weight:400;
  font-size:14px;
}

.video2 p{
  color:hsl(0, 0%, 100%)
}