@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --spacing: 20px;
  /* everything based pn this */
  --background: hsl(0, 0%, 5%);
  --foreground: hsl(0, 0%, 100%);
  --primary: #ff6f61;

  --ff: "Inter", sans-serif;
  --h1: bold 36px/1em var(--ff);
  --h2: bold 24px/1em var(--ff);
  --p: 1rem/1.5em var(--ff);
  --p2: 0.875rem/1.4em var(--ff);

  --gray100: hsl(0, 0%, 100%);
  --gray90: hsl(0, 0%, 90%);
  --gray80: hsl(0, 0%, 80%);
  --gray70: hsl(0, 0%, 70%);
  --gray50: hsl(0, 0%, 50%);
  --gray30: hsl(0, 0%, 30%);
  --gray0: hsl(0, 0%, 0%);
  --nav-space: 300px;
  /* default left padding for body to make room for nav */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection,
::-moz-selection {
  color: white;
  background: var(--primary);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font: var(--p);

  height: 100vh;
}



h1 {
  font: var(--h1);
  color: var(--foreground);
}

h2 {
  font: var(--h2);
  color: var(--foreground);
}

h3 {
  /* line-height: 30px; */
  font-size: 16px;
  font-weight: initial;
}

p {
  font: var(--p);
  color: var(--gray80);
  max-width: 90%;
  margin-top: var(--spacing);
}

p.p2 {
  font: var(--p2);
  color: var(--gray70);
}



.container:not(.homepage-body, .cta-box) {
  display: flex;
  height: 100%;
  margin-left: 260px;
}

@media (max-width: 1024px) {
  .container:not(.homepage-body, .cta-box) {
    margin-left: var(--nav-space);
  }
}

/* nav */
aside.sidebar {
  --text-muted: #8b949e;
  --bg-sidebar: #111316;
  --border: #262a30;
  --primary-dim: rgba(255, 111, 97, 0.15);
  --bg-card: #181b1f;

  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: var(--bg-sidebar);
  border-right: var(--border) 1px solid;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: .4s;
  overflow-y: auto;
}

.brand {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.brand .brand-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand .brand-title h1 {
  color: var(--primary);
  font-weight: bold;
  line-height: 0.2;
  font-size: 1.25rem;
}

.brand-subtext {
  font-size: 0.85rem;
  margin-top: 2px;
  margin-left: 10px;
  color: var(--text-muted);
}

nav.snippets-nav {
  position: static;
  animation: none;
  transform: none;
  margin: 0;
  padding: 0;
}

.nav-label {

  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-muted);
}



.snippets-nav button {
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 5px;
  width: 70%;
  color: var(--text-muted);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: .95rem;
  transition: .2s;
  text-align: left;
}

.snippets-nav button.active {
  background-color: var(--primary-dim);
  color: var(--primary);
}

.snippets-nav button:not(.snippets-nav button.active):hover {
  background-color: var(--bg-card);
  color: white;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-footer a {
  color: var(--text-muted);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  transition: .2s;
}

.sidebar-footer a:hover {
  background-color: var(--bg-card);
}

.sidebar-footer a img {
  transform: translateY(-2px);
}

/* content */

.content {
  flex: 1;
  padding-left: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 2);
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: .6s;
  opacity: 0;
}



@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* === Example Block Preset === */

.example {
  background-color: hsl(0, 0%, 10%);
  /* box-shadow: inset  0 1px 2px #ffffff70,
  0 2px 4px #00000030,
  0 4px 8px #00000015; */
  border: 1px solid var(--gray30);
}

/* === Code Block Preset === */
.code-container {
  background-color: hsl(0, 0%, 10%);
  display: block;
  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
  font-family: 'Courier Prime', monospace;
  margin: 20px 0;
  padding: var(--spacing);
}

code {
  color: #d4d4d4;
  line-height: 1.5;
  font-size: 0.9rem;
  white-space: pre;
}

/* videos */

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: var(--spacing);
  transform: translateY(-20px);
}

article {
  margin-bottom: calc(var(--spacing) * 2);
}

.video {
  padding: 20px;
  height: fit-content;
}

.img {
  width: 400px;
  height: 200px;
  background: gray;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  :root {
    --spacing: 20px;
    --nav-space: 260px;
    --h1: bold 24px/1.3em var(--ff);
    --h2: bold 1rem/1.3em var(--ff);
  }

  .code-container {
    max-width: 90%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  :root {
    --spacing: 12px;
    --nav-space: 0px;
    --h1: bold 24px/1.3em var(--ff);
    --h2: bold 1rem/1.3em var(--ff);
  }

  body {
    padding-left: 0;
    padding-top: calc(var(--spacing) * 1);
  }

  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    border-radius: 0;
    padding: calc(var(--spacing));
  }

  .hamburger {
    display: flex;
  }

  .container {
    flex-direction: column;
    margin-left: 0;
  }

  .content {
    padding-left: 36px;
  }

  .code-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  code {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .videos {
    display: none;
  }
}

.text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-img .circle {
  display: block;
  background-color: gray;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}



.video p {
  color: hsl(0, 0%, 60%);
  line-height: .7em;
  margin-top: 5px;
}

.video h3 {
  font-weight: 700;
}

.video2 {
  border-left: 1px solid var(--gray30);
}

.video2 h3 {
  line-height: 18px;
  font-weight: 400;
  font-size: 16px;
}

.video2 p {
  color: hsl(0, 0%, 100%)
}

.do,
.dont {
  background-color: rgb(165, 223, 84);
  border: 1px solid rgb(100, 163, 48);
  color: var(--gray0);
  padding: 2px 5px;
  width: fit-content;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.7;
  position: absolute;
  transform: translateY(-30px) translateX(-30px) rotateZ(-10deg);
}

.dont {
  right: 0;
  background-color: rgb(255, 99, 71);
  border: 1px solid rgb(204, 54, 32);
  transform: translateY(-30px) translateX(25px) rotateZ(10deg);
}

.desc p {
  margin-top: 10px;
}

.flex {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: hsl(0, 0%, 10%);
  border: 1px solid var(--gray30);
  border-radius: var(--spacing);
  padding: var(--spacing);
}

.card.before h1,
.card.before p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2em;
}

.card.after h1 {
  font: var(--h1);
  font-family: monospace;
}

.card.after p {
  font: var(--p2);
  line-height: .4em;
  color: var(--gray70);
}

.card span {
  display: block;
  font: var(--p2);
  color: var(--gray30);
  transform: translateY(-9px) translateX(5px);
}

/* colors example */
.colors-example {
  position: relative;
  display: flex;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
  /* transform: translateY(-20px); */
  width: fit-content;
  border-radius: var(--spacing);
  padding: var(--spacing);
}

.color-card span {
  color: var(--primary);
  display: inline-block;
  font-size: 0.75rem;
  transform: translateY(-5px);
}

.color-card h1 {
  line-height: 1.2em;
}

.color-card p {
  color: var(--gray50);
  margin-top: 0;
}

.color-card.bad p,
.color-card.bad span {
  color: var(--foreground);
}

.color-card.bad {
  border-left: 1px solid var(--gray30);
  padding-left: var(--spacing);
}

/* scale example */

.scale-example {
  margin-bottom: var(--spacing);
  width: fit-content;
  border-radius: var(--spacing);
  transform: translateY(-20px);
  padding: var(--spacing);
}

.scale-example span {
  color: var(--gray50);
  font-size: 1rem;
}

.scale-example p {
  margin-bottom: 0;
  margin-top: 0;
}

.codeSnippetAd {
  transform: translateY(-20px);
}

.codeSnippetAd.code-snippets a {
  color: var(--primary);
}

/* content manager */


.tag {
  color: var(--primary);
  /* margin-bottom: calc(var(--spacing) / 3); */
  display: inline-block;
  font-size: 0.75rem;
  transform: translateY(-5px);
}

.guide-header {
  padding: 0;
  transform: translateY(10px);
}

.guide-card:not(.intro) {
  border-top: 1px solid hsl(0, 0, 20%);
  margin-top: 75px;
  padding-top: 75px;
}

.guide-card {
  max-width: 50%;
}

ul {
  margin-top: 16px;
  margin-left: calc(var(--spacing) * 1.5);
  list-style-type: "-  ";
  color: var(--gray80);
}

@media (max-width:1024px) {
  .guide-card {
    max-width: 90%;
  }
}

/* css.gg ad */
.cssgg {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 2px 7px;
  border-radius: 8px;
  font-size: 0.875rem;
  color: var(--gray70);
  font-family: var(--ff);
  backdrop-filter: blur(5px);
}

.cssgg a {
  color: var(--primary);
  text-decoration: none;
}

/* #hierarchy {
  margin-top: calc(var(--spacing) * 4);
} */