:root {
  --primary: #ff6f61;
  --primary-dim: rgba(255, 111, 97, 0.15);
  --primary-hover: #ff5240;

  --bg-body: #0b0d0f;
  --bg-sidebar: #111316;
  --bg-card: #181b1f;
  --bg-input: #0b0d0f;

  --text-main: #ffffff;
  --text-muted: #8b949e;

  --border: #262a30;
  --radius: 12px;

  --syntax-prop: #79c0ff;
  --syntax-val: #a5d6ff;
  --syntax-punc: #8b949e;
}



aside.sidebar {
  width: 260px;
  background-color: var(--bg-sidebar);
  border-right: var(--border) 1px solid;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.brand {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.brand .brand-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand .brand-title h1 {
  color: var(--primary);
  font-weight: bold;
  line-height: 0.2;
  font-size: 1.25rem;
}

.brand-subtext {
  font-size: 0.85rem;
  margin-top: 2px;
  margin-left: 10px;
  color: var(--text-muted);
}

nav.snippets-nav {
  position: static;
  animation: none;
  transform: none;
  margin: 0;
  padding: 0;
}

.nav-label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-muted);
}

.snippets-nav ul {
  margin-top: 0;
  margin-left: 0;
  list-style: none;
}

.snippets-nav ul li {
  padding: 7px 14px;
  border-radius: 8px;
  margin-bottom: 5px;
  width: 70%;
  color: var(--text-muted);
  cursor: pointer;
  font-size: .95rem;
  transition: .2s;
}

.snippets-nav ul li.active {
  background-color: var(--primary-dim);
  color: var(--primary);
}

.snippets-nav ul li:not(.snippets-nav ul li.active):hover {
  background-color: var(--bg-card);
  color: var(--text-main);
}

.sidebar-footer {
  margin-top: auto;
}

/* main content */
main.main-content {
  padding: 0 40px;
  flex: 1;
  overflow-y: auto;
}

.top-bar {}