nav.code-snippet-nav {
    height: calc(600px - var(--spacing) * 3.5);
    transition: height 0.3s ease;
    /* other */
    overflow: hidden;
}

nav.code-snippet-nav.has-active {
    height: calc(800px + var(--spacing) / 2);
}

nav.code-snippet-nav a:not(.home-link) {
  opacity: 0.6;
  font-size: .875rem;
}

.snippets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: calc(var(--spacing) * 1.5);
  /* margin-top: calc(var(--spacing) * 0.8); */
}

.snippet {
    height: 250px;
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    border-radius: var(--spacing);
  padding: var(--spacing);
  cursor: pointer;

  transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
  box-shadow: inset  0 1px 2px #ffffff70,
  0 2px 4px #00000030,
  0 4px 8px #00000015;
}

.snippet:hover {
    box-shadow: inset  0 1px 2px var(--primary),
    0px 4px 2px rgba(255, 110, 97, 0.048),
    0 8px 16px #97979725;
    transform: scale(1.01);
}

.snippet.active {
    box-shadow: inset  0 1px 4px var(--primary),
    0px 8px 4px rgba(255, 110, 97, 0.048),
    0 16px 32px #97979725;
    transform: scale(1.01);
}