:root {
  --primary: #ff6f61;
  --primary-dim: rgba(255, 111, 97, 0.15);
  --primary-hover: #ff5240;

  --bg-body: #0b0d0f;
  --bg-sidebar: #111316;
  --bg-card: #181b1f;
  --bg-input: #0b0d0f;

  --text-main: #ffffff;
  --text-muted: #8b949e;

  --border: #262a30;
  --radius: 12px;

  --syntax-prop: #79c0ff;
  --syntax-val: #a5d6ff;
  --syntax-punc: #8b949e;
}


.snippets-container {
  display: flex !important;
}

aside.sidebar {
  width: 260px;
  background-color: var(--bg-sidebar);
  border-right: var(--border) 1px solid;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.brand {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.brand .brand-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand .brand-title h1 {
  color: var(--primary);
  font-weight: bold;
  line-height: 0.2;
  font-size: 1.25rem;
}

.brand-subtext {
  font-size: 0.85rem;
  margin-top: 2px;
  margin-left: 10px;
  color: var(--text-muted);
}

nav.snippets-nav {
  position: static;
  animation: none;
  transform: none;
  margin: 0;
  padding: 0;
}

.nav-label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-muted);
}



.snippets-nav button {
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 5px;
  width: 70%;
  color: var(--text-muted);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: .95rem;
  transition: .2s;
  text-align: left;
}

.snippets-nav button.active {
  background-color: var(--primary-dim);
  color: var(--primary);
}

.snippets-nav button:not(.snippets-nav button.active):hover {
  background-color: var(--bg-card);
  color: var(--text-main);
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-footer a {
  color: var(--text-muted);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  transition: .2s;
}

.sidebar-footer a:hover {
  background-color: var(--bg-card);
}

.sidebar-footer a img {
  transform: translateY(-2px);
}

/* main content */
main.main-content {
  padding: 0 40px;
  flex: 1;
  overflow-y: auto;
}

.top-bar {
  padding: 30px 0;
  top: 0;
  position: sticky;
  background-color: rgba(11, 13, 15, 0.603);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  z-index: 100;
}

.search-bar {
  width: 400px;
  display: flex;
  align-items: center;
}

.search-bar img {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 100px;
  color: white;
  transition: 0.3s;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  outline: none;
}

.search-bar input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 4px var(--primary-dim);
}

.keyboard-shortcut {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border);
  color: var(--text-muted);
  /* background-color: var(--bg-sidebar); */
  border-radius: 50%;
  transform: translateX(-35px) rotateZ(10deg);
  display: grid;
  place-items: center;
  font-weight: bold;
}


/* stats */

.stats {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-muted);
  font-size: 0.95rem;
}

.active {
  color: var(--primary);
}

.snippets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  padding-bottom: 50px;
}

.snippet {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}

.snippet:hover {
  border-color: var(--text-muted);
  transform: translateY(-4px);
}

.card-preview {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-sidebar);
  border-bottom: 1px solid var(--border);
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.card-body {
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.card-header h3 {
  font-size: 1.1rem;
  color: var(--text-main);
  font-weight: 700;
}

.action-row {
  display: flex;
  gap: 10px;
}

.icon-btn {
  cursor: pointer;
  color: var(--text-muted);
  transition: 0.2s;
  background: none;
  border: none;
  font-size: 1rem;
}

.icon-btn:hover {
  color: var(--text-main);
}

.icon-btn.active {
  color: var(--primary);
}

.icon-btn.delete:hover {
  color: #ff4757;
}

.code-block {
  background: #000;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  font-size: 0.85rem;
  color: #e6edf3;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  height: 150px;
  overflow-y: scroll;
}

.code-block::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.code-block::-webkit-scrollbar-track {
  background: transparent;
}

.code-block::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.code-block::-webkit-scrollbar-thumb:hover {
  background: #666;
}